:root{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}
body{
    background-color: #0f0f0f;
    min-height: 100vh;
    min-width: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    position: relative;
    font-family: druk !important;
}
a{
    text-decoration: none;
}
/**navbar styles*/
nav{
    display: flex;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    align-items: center;
}
nav h1{
    color: #fff;
    font-family: cursive;
    font-style: italic;
    font-size: 30px;
    cursor: pointer;
}
nav h1:hover{
    color: darkblue;
    transition: all;
    transition: 0.3s;
}
/*main section styles*/
main{
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 0;
    padding-bottom: 10px;
}
.about{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    margin: 0;
    position: relative;
}
.name{
    color: #fff;
    display: flex;
    padding: 0;
    margin: 0;
    flex-direction: column;
    font-size: 100px;
}
.name span{
    color: transparent; /* Make the text itself transparent */
    opacity: 1; /* Ensure the element is visible */
    -webkit-text-stroke: 1px #fff; /* Apply the black outline */
}
/*project section styles*/
.work {
    padding-top: 10px;
}
.heading{
    padding-top: 10px;
    padding-bottom: 15px;
    border-bottom: gray;
    border-bottom-width: 2px;
    border-bottom-style: solid; 
}
.heading h1{
    color: #fff;
    display: flex;
    padding: 0;
    margin: 0;
    flex-direction: column;
    font-size: 100px;
}
::-webkit-scrollbar{
    height: 10px;
}
.scrollPath{
    position: fixed;
    top: 0;
    right: 0;
    width: 10px;
    height: 100%;
    background-color: black;
    opacity: 20;
}
.progressbar {
    position: fixed;
    top: 0;
    right: 0;
    width: 10px;
    height: 0%;
    border-radius: 9999px;
    background-color: blue; /* Initial background color */
    z-index: 11;
    transition: height 0.3s ease-out; /* Keep the smooth height transition */
    box-shadow: -2px 0 10px rgba(0, 138, 255, 0.7); /* Initial glow/shadow */
    animation: progressBarColorChange 5s linear infinite; /* Apply the color animation */
    animation: progressBarGlow 5s linear infinite; /* Apply the color animation */

}

#hero{
    position: absolute;
    right: 10%;
    top: 0;
    transform: translateY(50%);
    width: 400px;
    z-index: -50;
    background-color: transparent;
    animation: rotateHero 15s linear infinite; /* Apply the animation */
}
.social {
    display: flex;
    gap: 10px;
    align-items: center;
}
.social a{
    font-size: 30px;
    color: transparent; /* Make the text itself transparent */
    opacity: 1; /* Ensure the element is visible */
    -webkit-text-stroke: 1px #fff;
}
.social a:first-child{
    animation: stroke-color-change 3s infinite alternate; /* Add an animation */
}
.social a:nth-child(2){
    animation: stroke-color-change2 3s infinite alternate; /* Add an animation */
}
.social a:last-child{
    animation: stroke-color-change3 3s infinite alternate; /* Add an animation */

}
form h1{
    color: #fff;
    display: flex;
    padding: 0;
    margin: 0;
    flex-direction: column;
    font-size: 100px;
}
form h1 span{
    color: transparent; /* Make the text itself transparent */
    opacity: 1; /* Ensure the element is visible */
    -webkit-text-stroke: 1px #fff; /* Apply the black outline */
}
form label{
    color: white;
    font-size: 30px;
}
form input {
    width: 100%;
    height: 50px;
    outline: none;
    border-bottom-color: gray;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-top: none; /* Remove top border */
    border-left: none; /* Remove left border */
    border-right: none; /* Remove right border */
    background-color: transparent;
    margin-bottom: 15px;
    color: white;
    font-size: 20px;
}
form button {
    justify-self: end;
    padding: 20px 15px; /* Shorthand for top, right, bottom, left */
    border: none;
    width: 15%;
    border-radius: 8px;
    color: white;
    font-size: 30px;
    cursor: pointer;
    font-weight: 800;
    background-color: gray; /* Or your initial background */
    background-image: linear-gradient(to right, aqua 0%, aqua 100%, transparent 100%);
    background-size: 0% 100%; /* Start with zero width */
    background-repeat: no-repeat; /* Prevent the gradient from repeating */
    background-position: left center; /* Start from the left */
    transition: background-size 0.5s ease-in-out;
}

form button:hover {
    background-size: 100% 100%; 
}
.getinTouch{
    padding-top: 200px;
    border-bottom-color: gray;
    padding-bottom: 20px;
    border-bottom-width: 2px;
    border-bottom-style: solid; /* Or dashed, dotted, etc. */
}
.getinTouch h1{
    color: transparent; /* Make the text itself transparent */
    opacity: 1; /* Ensure the element is visible */
    -webkit-text-stroke: 1px #fff;
    font-size: 100px;
    margin: 0;
}
.getinTouch p{
    color: #fff;
    margin: 0;
    font-size: 55px;
}


footer{
    display: flex;
    gap: 30px;
    padding-left: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 50px;
    align-items: center;
}
footer h1{
    color: #fff;
    font-family: cursive;
    font-style: italic;
    font-size: 30px;
    cursor: pointer;
}
@keyframes stroke-color-change {
    0% {
        -webkit-text-stroke-color: #fff;
    }
    50% {
        -webkit-text-stroke-color: #00ff00; /* Green at 50% */
    }
    100% {
        -webkit-text-stroke-color: #0000ff; /* Blue at 100% */
    }
}
@keyframes stroke-color-change2 {
    0% {
        -webkit-text-stroke-color: #00ff00; /* Green at 50% */
    }
    50% {
        -webkit-text-stroke-color: #0000ff; /* Blue at 100% */
    }
    100% {
        -webkit-text-stroke-color: #fff;
    }
    
    
}
@keyframes stroke-color-change3 {
    0% {
        -webkit-text-stroke-color: #0000ff; /* Blue at 100% */
    }
    50% {
        -webkit-text-stroke-color: #fff;
    }
    100% {
        -webkit-text-stroke-color: #00ff00; /* Green at 50% */
    }
    
}
@keyframes rotateHero {
    from {
        transform: translateY(50%) rotate(0deg); /* Start with 0 degrees rotation */
    }
    to {
        transform: translateY(50%) rotate(360deg); /* Rotate 360 degrees */
    }
}
@keyframes progressBarColorChange {
    0% {
        background-color: rgb(0, 138, 255);
    }
    25% {
        background-color: limegreen;
    }
    50% {
        background-color: gold;
    }
    75% {
        background-color: tomato;
    }
    100% {
        background-color: rgb(0, 138, 255); /* Loop back to the initial color */
    }
}
@keyframes progressBarGlow {
    0% {
        background-color: rgb(0, 138, 255);
    }
    25% {
        background-color: limegreen;
    }
    50% {
        background-color: gold;
    }
    75% {
        background-color: tomato;
    }
    100% {
        background-color: rgb(0, 138, 255); /* Loop back to the initial color */
    }
}




/**responsive design **/
@media screen and (max-width: 480px) { /* sm: */
    .name {
      font-size: 45px; /* text-5xl */
      text-align: center;
    }
    .heading h1{
        font-size: 45px;
    }
    #hero{
        position: absolute;
        right: 0;
        top: 0;
        transform: translateY(50%);
        width: 400px;
        z-index: -100;
        background-color: transparent;
        animation: rotateHero 15s linear infinite; /* Apply the animation */
    }
    
}
/*
@media screen and (min-width: 640px) { 
    .name {
      font-size: 50px; 
    }
}
  
@media screen and (min-width: 768px) {
    .name {
      font-size: 20px;
    }
}
  
@media screen and (min-width: 1280px) {
    .name {
      font-size: 25px;
    }
}
*/